* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-image: url(../billeder/spilbrætbaggrund.svg);
  background-repeat: repeat-y;
  background-size: 100%;

  --text-color: #f5e9b5;
  --box-color: #036e34;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  container-type: inline-size;
}

h2 {
  font-family: "cubano", sans-serif;
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  margin-top: 15px;
}

.footer-container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

h3 {
  font-family: "cubano", sans-serif;
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  font-family: "lato", sans-serif;
}

.footer-text {
  font-size: 14px;
  font-family: "lato", sans-serif;
}

.social-links {
  font-size: 14px;
  font-family: "lato", sans-serif;
}

/* footer grid */
.footer-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.footer-img {
  width: 100%;
  grid-column: 2;
  grid-row: 2;
}

.footer-content {
  grid-column: 1;
  grid-row: 1;
}

.footer-content2 {
  grid-column: 2;
  grid-row: 1;
}

.footer-content3 {
  grid-column: 1;
  grid-row: 2;
}

.text-box-1_1 {
  color: var(--text-color);
  background-color: var(--box-color);
  font-family: "lato", sans-serif;
  padding: 20px;
  grid-row: 1;
  grid-column: 1 / span 2;

  border-radius: 15px;
  outline: 3.5px solid #000;
}

.text-box-1_2 {
  color: var(--text-color);
  background-color: var(--box-color);
  font-family: "cubano", sans-serif;
  padding: 20px;
  grid-row: 2;
  grid-column: 1;

  border-radius: 15px;
  outline: 3.5px solid #000;
}

.image-box-2_2 {
  text-align: center;
  grid-column: 1 / span 2;
  grid-row: 3;
}

.image-box-2_2 img {
  max-width: 100%;
  height: auto;

  outline: 3.5px solid #000;
  border-radius: 15px;
}

.image-box-3_2 {
  text-align: center;
  grid-column: 1 / span 2;
  grid-row: 6;
}

.image-box-3_2 img {
  max-width: 100%;
  height: auto;

  outline: 3.5px solid #000;
  border-radius: 15px;
}

.text-box-2_3 {
  color: var(--text-color);
  background-color: var(--box-color);
  font-family: "lato", sans-serif;
  padding: 20px;
  grid-column: 1 / span 2;
  grid-row: 4;

  border-radius: 15px;
  outline: 3.5px solid #000;
}

.text-box-3_4 {
  color: var(--text-color);
  background-color: var(--box-color);
  font-family: "cubano", sans-serif;
  padding: 20px;
  grid-column: 1;
  grid-row: 5;

  border-radius: 15px;
  outline: 3.5px solid #000;
}

@media (min-width: 750px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .text-box-1_1 {
    padding: 20px;
    grid-column: 1;

    color: var(--text-color);
    background-color: var(--box-color);
    font-family: "lato", sans-serif;
    border-radius: 15px;
    outline: 3.5px solid #000;
  }

  .text-box-1_2 {
    color: var(--text-color);
    background-color: var(--box-color);
    font-family: "cubano", sans-serif;
    padding: 20px;
    grid-column: 1;
    grid-row: 2;

    border-radius: 15px;
    outline: 3.5px solid #000;
  }

  .image-box-2_2 {
    text-align: center;
    grid-column: 2;
    grid-row: 1 / span 3;
  }

  .image-box-2_2 img {
    max-width: 100%;
    height: auto;

    outline: 3.5px solid #000;
    border-radius: 15px;
  }

  .image-box-3_2 {
    grid-row: 4 / span 4;
    grid-column: 1;
  }

  .image-box-3_2 img {
    max-width: 100%;
    height: auto;

    outline: 3.5px solid #000;
    border-radius: 15px;
  }

  .text-box-2_3 {
    color: var(--text-color);
    background-color: var(--box-color);
    font-family: "lato", sans-serif;
    padding: 20px;
    grid-column: 2;

    border-radius: 15px;
    outline: 3.5px solid #000;
  }

  .text-box-3_4 {
    color: var(--text-color);
    background-color: var(--box-color);
    font-family: "cubano", sans-serif;
    padding: 20px;
    grid-column: 2;

    border-radius: 15px;
    outline: 3.5px solid #000;
  }

  /* footer grid */
  .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }

  .footer-img {
    width: 100%;
    grid-column: 4;
    grid-row: 1;
  }

  .footer-content {
    grid-column: 1;
    grid-row: 1;
  }

  .footer-content2 {
    grid-column: 2;
    grid-row: 1;
  }

  .footer-content3 {
    grid-column: 3;
    grid-row: 1;
  }
}

/******Symboler*******/
.brikabout {
  width: 5%;
  transform: rotate(20deg);
  position: relative;
  top: -35px;
  left: 300px;
}
.kortabout {
  width: 5%;
  transform: rotate(-20deg);
  position: relative;
  top: -220px;
  left: -90px;
}
.mandabout {
  width: 6%;
  transform: rotate(-10deg);
  position: relative;
  top: -1270px;
  left: 400px;
}
.puslespilabout {
  width: 6%;
  transform: rotate(0deg);
  position: relative;
  top: -1035px;
  left: 200px;
}
.terningabout {
  width: 5%;
  transform: rotate(20deg);
  position: relative;
  top: -1275px;
  left: 590px;
}
.towerabout {
  width: 5%;
  transform: rotate(10deg);
  position: relative;
  top: -425px;
  left: 790px;
}
