html {
  background-image: url(../billeder/spilbrætbaggrund.svg);
  background-repeat: repeat-y;
  background-size: 100%;
  container-type: inline-size;
}
h2,
.knap {
  font-family: "cubano", sans-serif;
  font-style: normal;
  font-size: 4.5cqw;
  color: #f5e9b5;
  text-align: center;
  text-decoration: none;
}
#guru {
  margin-top: -15%;
}
p {
  font-family: lato, serif;
  color: #f5e9b5;
  font-size: 3cqw;
  text-align: center;
  padding: 5% 0 20% 0;
}
#ar {
  text-align: left;
}
video {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-bottom: 3%;
  border-radius: 15px;
  outline: 3.5px solid #000;
}
.forsideimg {
  border-radius: 15px;
  outline: 3.5px solid #000;
  margin-bottom: 6%;
  width: 100%;
}
.reservationslogo {
  display: block;
  margin: 4% auto;
}
#reserve-a-table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
}
.kalender {
  border-radius: 15px;
  outline: 3.5px solid #000;
  margin-bottom: 6%;
}
.knap {
  margin: 5% 0 5% 0;
  display: flex;
  justify-content: center;
}
.box {
  background-color: #036e34;
  border-radius: 15px;
  outline: 3.5px solid #000;
  padding: 20px 20px 8px 20px;
  margin-top: 2%;
}
main {
  margin: 4%;
}
@media (max-width: 800px) {
  #remove {
    display: none;
  }
  .box {
    margin-top: 5%;
  }
}
@media (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 1fr;
    margin: 5%;
  }
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 2%;
  }
  .grid_1-2 {
    display: grid;
    grid-template-columns: 1.5fr 1.8fr;
    gap: 2%;
  }
  .grid_2-1 {
    display: grid;
    grid-template-columns: 1.8fr 1.5fr;
    gap: 2%;
  }
  .order {
    display: grid;
    order: 1;
  }
  .grid_1 {
    display: grid;
    grid-template-columns: 1.5fr;
    justify-content: center;
    margin: 3% 30% 6% 30%;
  }
  .grid_1-2-1 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 2%;
  }
  .reservationslogo {
    display: block;
    width: 100%;
    margin-top: 25%;
  }
  h2,
  .knap {
    font-size: 2rem;
  }
  p {
    font-size: larger;
  }
  #res_h1,
  video {
    margin-top: -10%;
  }
}
