html {
  background-image: url(../billeder/spilbrætbaggrund.svg);
  background-repeat: repeat-y;
  background-size: auto;
}
h2,
.knap {
  font-family: "cubano", sans-serif;
  font-style: normal;
  font-size: 2rem;
  color: #f5e9b5;
  text-align: center;
}
p {
  font-family: lato, serif;
  font-size: larger;
  text-align: center;
  padding: 5% 0 20% 0;
}
video {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 3%;
}
.forsideimg {
  border-radius: 15px;
  outline: 3.5px solid #000;
  margin-bottom: 6%;
}
.kalender {
  border-radius: 15px;
  outline: 3.5px solid #000;
  margin-bottom: 6%;
}
.knap {
  margin: 5% 0 5% 0;
  display: flex;
  justify-content: center;
}
.box {
  background-color: #036e34;
  border-radius: 15px;
  outline: 3.5px solid #000;
  padding: 20px;
}
.order {
  display: grid;
  order: 0;
}
main {
  display: grid;
  grid-template-columns: 1fr;
  margin: 10%;
}
@media (min-width: 800px) {
  html {
    background-size: contain;
  }
  main {
    margin: 5%;
  }
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    margin: 3% 0 6% 0;
    gap: 2%;
  }
  .grid_1-2 {
    display: grid;
    grid-template-columns: 1.5fr 1.8fr;
    gap: 2%;
  }
  .grid_2-1 {
    display: grid;
    grid-template-columns: 1.8fr 1.5fr;
    gap: 2%;
    margin-bottom: 6%;
  }
  .order {
    display: grid;
    order: 1;
  }
}
