* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-image: url(../billeder/spilbrætbaggrund.svg);
  background-repeat: repeat-y;
  background-size: 100%;
}
body {
  margin: 2%;
}
/* Typografier********* Design************' */

h4 {
  color: white;
  font-family: "cubano", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.h3_ny {
  color: black;
  font-size: 18px;
  margin-bottom: 10px;
  font-family: "cubano", sans-serif;
  display: grid;
  place-content: center;
}

h2 {
  z-index: 1;
  margin: 0;
  padding: 10px;
  font-family: "cubano", sans-serif;
  font-style: normal;
  font-size: 4.1rem;
  color: #f5e9b5;
  display: flex;
  justify-content: center;
}
.h2_ny {
  z-index: 1;
  margin: 0;
  padding: 10px;
  font-family: "cubano", sans-serif;
  font-style: normal;
  font-size: 4.1rem;
  color: #f5e9b5;
  display: flex;
  justify-content: center;
  padding: 9px 0px 9px 0px;
}
.p_ny {
  font-family: "cubano", sans-serif;
  font-style: normal;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  word-break: break-all;
  text-align: justify;
  color: #f5e9b5;
  padding: 10px 29px 10px 29px;
}
p {
  font-family: "cubano", sans-serif;
  font-style: normal;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  word-break: break-all;
  text-align: justify;
  color: white;
}
/* Box***** */

.games_box {
  background-color: #036e34;
  outline: 3.5px solid #000;
  border-radius: 15px;
  margin: 0px auto 0px auto;
  /*width: 35%;*/
  position: relative;
  text-align: center;
}
.games_box2 {
  outline: 2px solid #000;
  border-radius: 10px;
}

/* Billeder************************ */
.img_games {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: relative;
  text-align: center;
  border: 10px solid green;
  border-radius: 43px;
}

@media (min-width: 600px) {
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0% 20% 20% 20%;
    gap: 3%;
  }
  .games_box {
    width: 35%;
  }
  .games_box2 {
    margin: 30px 600px;
  }
}
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.footer-container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

h3 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
}
